{
  pg => 'postgresql://user@%2fvar%2frun%2fpostgresql/mailroom', # The socket specified here is a path to a directory
  admin_ui => 'Bender:rocks',
  sendgrid => {
    apikey => '** api key **',
    spam_score_threshold => 5,
  },
  user => 1000,
  group => 1000,
  auth => { # temporary authentication store
    'user' => 'passwd',
  },
}
